{% extends "base.html" %}

{% block main_content %}
<section id="main-page">
  <h1>Quantum VisionWorks</h1>
  <p>QAI Industries, <i>building a better tomorrow today!</i></p>
  <p>
    <!-- The links on index -->
    <button onclick=window.location.href="{{url_for('catalog')}}">
      Our Catalog
    </button>
    <button onclick=window.location.href="{{url_for('product_catalog')}}">
      Product Catalog
    </button>
    <button onclick=window.location.href="{{url_for('service_catalog')}}">
      Our Services
    </button>
    <button onclick=window.location.href="{{url_for('about')}}">
      About Us
    </button>
    {% if not g.user %}
    <button onclick=window.location.href="{{url_for('cart')}}">
      Your Cart
    </button>
    {% endif %}
  </p>
  <!-- Displays 3 random products and/or Services and allows the user to go directly to them -->
  <h2>Featured Products/Services</h2>
  {% if products %}
  {% for product in products %}
  <table class="catalog">
    <tr>
      <td>
        <section class="card">
          <p>
            <a href="{{ url_for('product', product_id=product['product_id']) }}"><img src="{{ product['img'] }}"
                alt="{{ product['name'] }}" style="width: 100%" /></a>
          </p>
          <h1>{{ product["name"] }}</h1>
          <p class="price">Price: €{{ product["price"] }}</p>
          <p><button onclick=window.location.href="{{ url_for('product', product_id=product['product_id'] ) }}">See
              Details</button></p>
        </section>
      </td>
    </tr>
  </table>
  {% endfor %}
  {% endif %}

  <footer>
    <section class="navigation">
      <img src="../static/favicon.ico">
      <ul class="end">
        <li>Social Media</li>
        <li>Facebook</li>
        <li>Snapchat</li>
        <li>Instagram</li>
      </ul>
      <ul class="end">
        <li><a href="{{url_for('about')}}">About</a></li>
        <li><a href="{{url_for('Research_and_development')}}">Our Projects</a></li>
        <li><a href="{{url_for('careers')}}">Careers</a></li>
      </ul>
      <ul class="end">
        <li><a href="{{url_for('support')}}">
            Support
          </a></li>
        <li><a href="{{url_for('support')}}">
            Support Request
          </a></li>
        <li><a href="{{url_for('support')}}">
            Contact
          </a></li>
      </ul>

    </section>
    <p>Privacy Policy</p>
    <p>Quantum VisionWorks&trade; Copyright&#169;2023</p>

  </footer>
</section>
{% endblock %}